<h1>Categories List</h1>

<% @categories.each do |category| %>
  <h2><%= category.title %></h2>
  <table class="table">
    <tr>
      <td><%= category.description %></td>
      <td align="right">
        <%= link_to "edit", edit_category_path(category), :class => "btn btn-warning" %>
        <%= link_to "delete", category, method: :delete, :class => "btn btn-danger" %>
      </td>
    </tr>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% category.products.each do |product| %>
        <tr>
          <td class="attr-title"><%= product.title %></td>
          <td class="attr-image"><%= image_tag(product.image_url) %></td>
          <td class="attr-description"><%= product.description %></td>
          <td class="attr-price"><%= number_to_currency(product.price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'new', new_category_path, :class => "btn btn-primary" %>
